<h1>Welcome to Ember - with packaging and lazy loading</h1>
<ul>
  <!-- TODO: change it to test link-to -->
  <li>{{#link-to "boot"}}Boot{{/link-to}}</li>
  <li>{{#link-to "package1"}}Package 1{{/link-to}}</li>
  <li>{{#link-to "package2"}}Package 2{{/link-to}}</li>
</ul>
{{outlet}}
